h1 {
    font-size: 100px;
    color: white;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}
.card {
    color: lightskyblue;
    background: white;
    font-size: 40px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgb(111, 114, 116);
    transition: 0.3s;
    width: 22%;
    height: 60%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgb(31, 35, 37);
}

.container {
  padding: 2px 16px;
}
#choose {
    position: absolute;
    left: 300px;
}
#add {
    position: absolute;
    left: 800px;
}
#outfitChoice_display {
    display: none;
}
p {
    font-size: 50px;
    color: white;
    text-align: center;
    Font-family: cursive;
}
body {
    background-color: lightskyblue;
}
.example_a {
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	background: #3058df;
	padding: 20px;
	border-radius: 5px;
    width: 400px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
}

.example_a:hover {
	background: rgb(22, 22, 151);
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
	transition: all 0.4s ease 0s;
}
.slider {
    width: 400px;
}